* {
  margin: 0px;
  padding: 0px;
}
/* general setting ends */

/* navbar start */
.brandLogo {
  font-size: 35px;
  font-family: monospace;
}
.fontBold {
  font-weight: 500;
}
.fontSize18 {
  font-size: 18px;
}
.navActive {
  border-bottom: 2px solid black;
  color: black !important;
}

/* navbar end */

/* hero section started */
.marginNavTop {
  margin-top: 180px;
}
.borderRadius30 {
  border-radius: 30px !important;
}
.heroSectionContent{
  margin-top: -50px !important;
}
.heroSectionContent h1 {
  font-size: 30px;
  color: #5f687b;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}
.heroSectionContent p {
  font-size: 20px;
  color: #5f687b;
  font-family: sans-serif;
  text-align: center;
}
.heroCard img {
  height: 35px;
  width: 35px;
  opacity: 0.6;
}
.heroCard h1 {
  font-size: 30px;
  color: #5f687b;
  font-weight: 500;
  font-family: monospace;
}
.heroCard p {
  font-size: 20px;
  color: #5f687b;
  font-family: "Courier New", Courier, monospace;
}
/* hero section end */
.pageHeading h2 {
  font-size: 35px;
  color: #5f687b;
  font-weight: 500;
  font-family: monospace;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.pageHeading p {
  font-size: 20px;
  color: gray;
  text-align: center;
}
.aboutContent h2 {
  font-weight: 500;
  font-size: 25px;
}
.aboutContent p {
  font-size: 18px;
  color: #5f687b;
}
.aboutContent h5 {
  font-size: 18px;
}
.counterCard h1 {
  font-size: 45px;
  color: #10bc69;
  font-weight: bold;
  text-align: center;
}
.counterCard p {
  font-size: 18px;
  color: #5f687b;
  text-align: center;
}
.serviceCard {
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  border-radius: 6px;
  box-shadow:1px 1px 1rem #C0202E !important;
}
.serviceCard img {
  height: 70px;
  /* width: 70px; */
}
.serviceCard h2 {
  color: #5f687b;
  font-size: 25px;
}
.serviceCard p {
  color: #5f687b;
  font-size: 16px;
  text-align: justify;
}
.contactLeftDiv img {
  height: 30px;
  width: 30px;
}
.contactLeftDiv h5{
  color: #5f687b;
}

@media only screen and (max-width:600px){
  .marginNavTop {
    margin-top: 120px;
  }
  .heroSectionContent{
    margin-top: 0px !important;
  }
}

/* navbar start */
.navPopBg{
  background: transparent linear-gradient(243deg, #F4F0FF 0%, #F4F0FF 16%, #DBF6FF 49%, #F0F1FC 70%, #F4F0FC 82%, #E8FEFF 100%) 0% 0% no-repeat
}
.servicePopup{
  width: 800px !important;
  left: -120px;
}
.subMenuDiv p{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4px;
  opacity: 0.7;
  font-size: 14px;
}
.subMenuDiv h5{
  font-size: 18px;
}
.subMenuDiv {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
}
.subMenuDiv:hover{
  border: 1px solid gray !important;
  background-color: white !important;
}
.tringle{
  height: 18px;
  width: 18px;
  background-color: white;
  margin-top: 46px;
  rotate: 45deg;
  left: -20px;
  position: relative;
}
.subSubMenuDiv img{
height: 55px;
opacity: 0.8;
padding: 6px;
border: 1px solid gray;
border-radius: 8px;
}
.serviceSubSubMenuMainDiv{
background-color: white;
border-radius: 12px;
}
.subSubMenuDiv p{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4px;
  opacity: 0.7;
  font-size: 14px;
  opacity: 0.8;
}
.subSubMenuDiv h5{
  font-size: 16px;
  opacity: 0.8;
}
.gradient-bg {
  background: linear-gradient(180deg, #eef4ff 0%, #fff 300px);
}
.companyStripSection h3{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4px;
  font-size: 30px;
  font-weight: 500;
letter-spacing: -1px;
}
.companyStripSection p{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4px;
  font-size: 16px;
  opacity: 0.8;
  line-height: 30px;
}
.companyStripSection{
  background-color: whitesmoke;
}

.modal-backdrop {
  top: 150px !important;
}
/* navbar end */