* {
  margin: 0px;
  padding: 0px;
}
/* general setting ends */

/* navbar start */
.brandLogo {
  font-size: 35px;
  font-family: monospace;
}
.fontBold {
  font-weight: 500;
}
.fontSize18 {
  font-size: 18px;
}
.navActive {
  border-bottom: 2px solid black;
  color: black !important;
}

/* navbar end */

/* hero section started */
.marginNavTop {
  margin-top: 180px;
}
.borderRadius30 {
  border-radius: 30px !important;
}
.heroSectionContent h1 {
  font-size: 50px;
  color: #5f687b;
  font-family: sans-serif;
  font-weight: 600;
}
.heroSectionContent p {
  font-size: 20px;
  color: #5f687b;
  font-family: sans-serif;
}
.heroCard img {
  height: 35px;
  width: 35px;
  opacity: 0.6;
}
.heroCard h1 {
  font-size: 30px;
  color: #5f687b;
  font-weight: 500;
  font-family: monospace;
}
.heroCard p {
  font-size: 20px;
  color: #5f687b;
  font-family: "Courier New", Courier, monospace;
}
/* hero section end */
.pageHeading h2 {
  font-size: 50px;
  color: #5f687b;
  font-weight: 500;
  font-family: monospace;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.pageHeading p {
  font-size: 20px;
  color: gray;
  text-align: center;
}
.aboutContent h2 {
  font-weight: 500;
  font-size: 25px;
}
.aboutContent p {
  font-size: 18px;
  color: #5f687b;
}
.aboutContent h5 {
  font-size: 18px;
}
.counterCard h1 {
  font-size: 45px;
  color: #10bc69;
  font-weight: bold;
  text-align: center;
}
.counterCard p {
  font-size: 18px;
  color: #5f687b;
  text-align: center;
}
.serviceCard {
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  border-radius: 12px;
  box-shadow: 1px 1px 10px #10bc69 !important;
}
.serviceCard img {
  height: 80px;
  width: 80px;
}
.serviceCard h2 {
  color: #5f687b;
  font-size: 25px;
}
.serviceCard p {
  color: #5f687b;
  font-size: 16px;
}
.contactLeftDiv img {
  height: 30px;
  width: 30px;
}
.contactLeftDiv h5{
  color: #5f687b;
}
